---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ScrollNumber from '../components/ScrollNumber.astro';
import NavigationBar from '../components/NavigationBar.astro';
import EmailDecorator from '../components/EmailDecorator.astro';
import LinkButton from '@/components/LinkButton.astro';
import DownloadIcon from '@/components/DownloadIcon.astro';
import Timeline from '@/components/Timeline.astro';

import {experience, studies} from '../env/strings'; 
import ScrollCTA from '@/components/ScrollCTA.astro';
import ProjectsPreview from '@/components/ProjectsPreview.astro';
import CursorDecorator from '@/components/CursorDecorator.astro';

let actualDate: Date = new Date();
---

<Layout title="Portafolio | Gerardo G.">
	<main>
		<!-- https://docs.astro.build/en/guides/deploy/google-firebase/ -->
		<!-- www.svgrepo.com -->
		<!-- https://dev.to/ibrahima92/make-a-parallax-effect-with-10-lines-of-javascript-3hia -->
		<!-- https://rauno.me/ -->
		 <!-- https://code.juliancataldo.com/component/astro-scroll-observer/#doc -->
		<div class="items-center justify-center flex flex-col h-[100vh] w-[8rem]">
			<NavigationBar/>
		</div>
		<div id="block-container" class="container">
			<section id="landing" class="flex flex-row gap-1 max-w-screen-xl !mx-2.5 md:!mx-20 2xl:!mx-auto">
				<div class="w-full h-full flex flex-col justify-center !px-4 items-start">
					<h1 class="w-full text-start title">HOLA!</h1>
					<h1 class="w-full text-start title !mb-4">MI NOMBRE ES <span class="text-gradient">GERARDO</span></h1>
					<p>Desarrollador FullStack Web que tiene como objetivo el desarrollar innovaciones tecnológicas, estar en mejora constante y resolver desafios.</p>
					<div class="w-full !mt-8 items-start justify-center">
						<LinkButton target="_blank" width="[14rem]" id="downloadCVButton" href="/assets/files/cv.pdf">
							Descargar CV 
							<DownloadIcon/>
						</LinkButton>

						<LinkButton target="_blank" width="[14rem]" id="linkedinButton" href="https://www.linkedin.com/in/gerardo-gallegos-jr/">
							LinkedIn 
							<span class="material-symbols-rounded">
								send
							</span>
						</LinkButton>
					</div>
				</div>
				<div class="w-full h-full flex items-center justify-center">
					<!-- //TODO: Cambiar por componente Image -->
					 <div class="relative flex items-center justify-center h-[80%] max-w-screen-xl">
						 <img class="z-5 absolute rounded-full !mb-[4rem]" src="./assets/images/background.svg" alt="Imágen de Ciudad Cyberpunk">
						 <img class="z-10 image-mask !mt-[4rem]" src="./assets/images/avatar.svg" alt="avatar de Gerardo">
					 </div>
				</div>
			</section>
			<section id="about-me" class="flex flex-col items-center justify-center max-w-screen-xl !mx-2.5 md:!mx-20 2xl:!mx-auto">
				<div class="w-full h-fit flex flex-col justify-start !px-4 !py-12 items-center">
					<h1 class="w-full text-start !mb-12">SOBRE <span class="text-gradient">MI</span></h1>
					<div class="w-full flex flex-col items-center justify-center gap-4">
						<p class="w-full">
							Mi nombre es Gerardo Gallegos Jr. Soy Ingeniero en Sistemas Computacionales enfocado en el desarrollo de Software como Full Stack Developer y actualmente estudiando una maestría 
							en Ingeniería de Software para ser un mejor profesionista.
							La pasión por la programación comenzó cuando tenía 10 años, cuando una tía me mostró por primera vez una computadora con Windows XP, quedé fascinado con los programas y todo lo que podía hacer Windows.
						</p>
						<p class="w-full">
							Algunos de mis éxitos son el entrar en clasificación 20 de 140 equipos en programación competitiva nacional, el poder tomar el rol de Administrador de Proyecto y Diseñador de Interfaz Jr en mi trabajo en Córdova Industrial.
						</p>
						<p class="w-full">
							Mi objetivo es el mejorar de forma constante, aprender de todos mis errores y siempre resolver los desafíos complejos que requieren una solución complicada de entender. 
							Siempre me ha apasionado el aprendizaje continuo del desarrollo de Software.
						</p>
					</div>
				</div>
				<!-- <div class="w-full h-fit flex flex-col justify-start !px-4 !py-12 items-center">
					<h1 class="w-full text-start !mb-12">RANDOM <span class="text-gradient">FACTS</span></h1>
					<div class="w-full flex flex-col items-center justify-center gap-4">
						<p class="w-full">
							Me gustan mucho los videojuegos desde niño (pero siempre Team Nintendo).
						</p>
						<p class="w-full">
							Me encanta todo lo que tenga que ver con Sci-Fi o más específico, el subgénero Cyberpunk, así fue como surgió la idea de la UI de este portafolio.
						</p>
						<p class="w-full">
							Me gusta el anime y como han de imaginar, tengo preferencia por los animes futuristas.
						</p>
					</div>
				</div> -->
			</section>
			<section id="experience" class="flex flex-col items-center justify-center max-w-screen-xl !mx-2.5 md:!mx-20 2xl:!mx-auto">
				<div class="w-full h-fit flex flex-col justify-start !px-4 !py-12 items-center">
					<h1 class="w-full text-start !mb-12">MI <span class="text-gradient">FORMACIÓN</span></h1>
					<!-- <div class="w-full flex flex-col items-center justify-center gap-4">
						<Timeline timelineList={experience}/>
					</div> -->
					<div class="w-full flex flex-col items-center justify-center gap-4">
						<Timeline timelineList={studies}/>
					</div>

					
				</div>
				<!-- <div class="w-full h-fit flex flex-col justify-start !px-4 !py-12 items-center">
					<h1 class="w-full text-start !mb-12">MI <span class="text-gradient">FORMACIÓN</span></h1>
				</div> -->
			</section>
			<section id="projects" class="flex flex-col items-center justify-center max-w-screen-xl !mx-2.5 md:!mx-20 2xl:!mx-auto">
				<div class="w-full h-fit flex flex-col justify-start !px-4 !py-12 items-center">
					<h1 class="w-full text-start !mb-12">ÚLTIMOS <span class="text-gradient">TRABAJOS</span></h1>
					<div class="w-full flex flex-col items-center justify-center gap-8">
						<ProjectsPreview/>
						<LinkButton target="_self" width="fit" id="linkedinButton" href="/projects">
							Visualizar todos los proyectos 
							<span class="material-symbols-rounded">
								apps
							</span>
						</LinkButton>
					</div>
				</div>
			</section>
			<section id="contact" class="card5 max-w-screen-xl !mx-2.5 md:!mx-20 2xl:!mx-auto">
				<div class="w-full h-fit flex flex-col justify-start !px-4 !py-12 items-center">
					<h1 class="w-full text-start !mb-12">NO OLVIDES <span class="text-gradient">CONTACTARME</span></h1>
					<div class="w-full flex flex-col items-center justify-center gap-4">
						<p class="w-full text-lg">
							Si te gusta mi trabajo realizado y quieres discutir al respecto, o tienes alguna oferta de trabajo que realizarme, no dudes en contactarme!
						</p>
						<p class="w-full text-lg">
							Muchas gracias!
						</p>
						<p class="w-full font-semibold text-lg">
							Correo electrónico: 
						</p>
						<div class="w-full flex items-center justify-start">
							<a href="mailto:gera.g.dev@gmail.com" class="email text-lg">gera.g.dev@gmail.com</a>
						</div>
						<p class="w-full font-semibold text-lg">
							O también puedes revisar: 
						</p>
						<div class="w-full flex items-center justify-start flex-row gap-2">
							<LinkButton target="_blank" width="[16rem]" id="downloadCVButton" href="/assets/files/cv.pdf">
								Descargar CV 
								<DownloadIcon/>
							</LinkButton>
	
							<LinkButton target="_blank" width="[16rem]" id="linkedinButton" href="https://www.linkedin.com/in/gerardo-gallegos-jr/">
								LinkedIn 
								<span class="material-symbols-rounded">
									send
								</span>
							</LinkButton>

							<LinkButton target="_blank" width="[16rem]" id="linkedinButton" href="https://github.com/GeraG18">
								GitHub 
								<span class="material-symbols-rounded">
									send
								</span>
							</LinkButton>
						</div>
						<span class="!mt-8 text-lg">Gerardo Gallegos Jr {actualDate.getFullYear()}©</span>
						<p class="text-lg text-center max-w-[20rem]">Diseñado en Figma y codificado en VSCode por un servidor. Creado en el Framework Astro, Tailwind y CSS puro.
							Implementado en $web-hosting. Tipografias Exo y Code Mono.
						</p>
					</div>
				</div>
			</section>
		</div>
		<div class="items-center justify-center relative hidden md:flex flex-col h-[100vh] w-[8rem]">
			<ScrollNumber/>
			<EmailDecorator/>
		</div>
		<ScrollCTA/>
		<!-- <CursorDecorator/> -->
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
		/* margin: auto;
		width: 800px;
		max-width: calc(100% - 2rem); */
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		align-items: center;
		justify-content: center;
		/* background-color: aqua; */
		scroll-behavior: smooth;
	}

	ul .timeline {
		list-style-type: none;
		position: relative;
	}

	ul .timeline li {
		margin: 3rem 0px;
		padding-left: 20px;
	}

	.email {
        cursor: pointer;
        flex: none;
		height: 2rem;
        margin-bottom: 0.5rem;
        color: var(--text-gray);
        padding: 4px;
    }

    .email:hover {
        font-weight: 600;
        padding-bottom: 0.5rem;
        
        background: linear-gradient(45deg, var(--accent-darker) 0%, var(--accent) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }

	ul .timeline::before {
		content: " ";
		background: var(--text-gray);
		display: inline-block;
		position: absolute;
		left: 0px;
		width: 1px;
		top: 4px;
		height: 100%;
		z-index: 400;
	}

	ul .timeline li::after, ::before {
		box-sizing: border-box;
	}

	ul .timeline li::before {
		content: " ";
		background: var(--background);
		display: inline-block;
		position: absolute;
		border-radius: 50%;
		border: 2px solid var(--accent-text);
		left: -7px;
		width: 15px;
		height: 15px;
		margin-top: 3px;
		z-index: 400;
	}

	ul.timeline li a.float-right {
		text-decoration: underline;
		font-size: calc(var(--font-sm) + 0.9px);
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}

	.container {
		width: 100%;
		height: 100vh;
		scroll-snap-type: y mandatory;
		overflow-y: scroll;
		scroll-behavior: smooth;
		/* background-color: rebeccapurple; */
	}

	.container::-webkit-scrollbar {
		display: none;
	}

	section {
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		scroll-snap-align: start;
		position: relative;
	}

	/* section::after {
		content: '';
		z-index: 400;
		width:100%;
		height: 2rem;
		position: absolute;
		background-color: var(--background);
		top: 0;
		mask-image: linear-gradient(black 20%, transparent);
	}

	section::before {
		content: '';
		z-index: 400;
		width:100%;
		height: 2rem;
		position: absolute;
		background-color: var(--background);
		bottom: 0;
		mask-image: linear-gradient(black 20%, transparent);
		transform: rotate(180deg);
	} */

	.image-mask {
		mask-image: linear-gradient(black 90%, transparent);
	}

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
