---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import ScrollNumber from '../components/ScrollNumber.astro';
import NavigationBar from '../components/NavigationBar.astro';
import EmailDecorator from '../components/EmailDecorator.astro';
import LinkButton from '@/components/LinkButton.astro';
import DownloadIcon from '@/components/DownloadIcon.astro';
import Timeline from '@/components/Timeline.astro';

import {experience, studies} from '../env/strings'; 
import ScrollCTA from '@/components/ScrollCTA.astro';
import ProjectsPreview from '@/components/ProjectsPreview.astro';
import CursorDecorator from '@/components/CursorDecorator.astro';
import { type Props as SEOProps } from 'astro-seo';

let actualDate: Date = new Date();

let seo: SEOProps = {
	title:"Portafolio | Gerardo G.",
	description:"Portafolio sobre el trabajo de Software realizado por Gerardo G.",
	openGraph:{
		basic: {
			title: "Portafolio | Gerardo G.",
			type: "website",
			image: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
		}
	},
	extend:{
		// link: [{ rel: "icon", href: "/favicon.ico" }],
		meta: [
		{ name: "description", content: "Portafolio sobre el trabajo de Software realizado por Gerardo G." },
			// {
			// name: "twitter:image",
			// content: "https://user-images.githubusercontent.com/5182256/131216951-8f74f425-f775-463d-a11b-0e01ad9fce8d.png",
			// },
			// { name: "twitter:title", content: "Tinker Tailor Soldier Spy" },
			// { name: "twitter:description", content: "Agent" },
		],
	}
};
---

<Layout seo={seo}>
	<main>
		<!-- https://docs.astro.build/en/guides/deploy/google-firebase/ -->
		<!-- www.svgrepo.com -->
		<!-- https://dev.to/ibrahima92/make-a-parallax-effect-with-10-lines-of-javascript-3hia -->
		<!-- https://rauno.me/ -->
		 <!-- https://code.juliancataldo.com/component/astro-scroll-observer/#doc -->
		<div class="hidden md:flex flex-col z-[600] items-center justify-center fixed left-0 bottom-0 md:static w-[100vw] h-[6rem] md:h-[100vh] md:w-[8rem]">
			<NavigationBar/>
		</div>
		<div id="block-container" class="container">
			<section id="landing" class="flex flex-col-reverse xl:flex-row gap-1 max-w-screen-xl !mx-2.5 md:!mx-20 2xl:!mx-auto">
				<div class="w-full h-full flex flex-col justify-center !px-4 !pb-8 md:!pb-0 items-start">
					<h1 class="w-full text-start title !mb-2">GERARDO <span class="text-gradient">GALLEGOS</span></h1>
					<h1 class="w-full text-start subtitle !mb-4">SEMI SENIOR FULL STACK WEB</h1>
					<p>Desarrollador con el objetivo de desarrollar innovaciones tecnológicas, estar en mejora constante y resolver desafios.</p>
					<div class="w-full !mt-4 md:!mt-8 flex gap-2 flex-row items-center justify-start">
						<LinkButton target="_blank" width="[14rem]" id="downloadCVButton" href="/assets/files/cv.pdf">
							Descargar CV 
							<DownloadIcon/>
						</LinkButton>

						<LinkButton target="_blank" width="[14rem]" id="linkedinButton" href="https://www.linkedin.com/in/gerardo-gallegos-jr/">
							LinkedIn 
							<span class="material-symbols-rounded">
								send
							</span>
						</LinkButton>
					</div>
				</div>
				<div class="w-full h-full flex items-center justify-center !px-4 !py-4 md:!py-0">
					<!-- //TODO: Cambiar por componente Image -->
					 <div class="relative flex items-center justify-center md:h-[80%] max-w-screen-xl">
						 <img class="z-5 absolute rounded-full !mb-[4rem]" src="./assets/images/background.svg" alt="Imágen de Ciudad Cyberpunk">
						 <img class="z-10 h-[38vh] xl:h-fit image-mask !mt-[4rem]" src="./assets/images/avatar.svg" alt="avatar de Gerardo">
					 </div>
				</div>
			</section>
			<section id="about-me" class="flex flex-col items-center justify-center max-w-screen-xl !mx-2.5 md:!mx-20 2xl:!mx-auto">
				<div class="w-full h-fit flex flex-col justify-start !px-4 !py-8 md:!py-12 items-center">
					<h1 class="w-full bg-[--titleRGBA] backdrop-blur-sm supports-[backdrop-filter]:bg-[--titleRGBA] transition-all sticky top-0 md:static text-start !py-5">SOBRE <span class="text-gradient">MI</span></h1>
					<div class="w-full flex flex-col items-center justify-center gap-4">
						<p class="w-full">
							Mi nombre es Gerardo Gallegos Jr, soy Ingeniero en Sistemas Computacionales enfocado en el desarrollo de Software como Full Stack Developer y actualmente estudiando una maestría 
							en Ingeniería de Software para ser un mejor profesionista y brindar software de mayor calidad.
						</p>
						<p class="w-full">
							Actualmente tengo el privilegio de hacer software con las últimas tecnologías en cuanto a desarrollo web e interfaces accesibles con un enfoque moderno 
							para los clientes de una <a class="custom-link" target="_blank" rel="noopener noreferrer" href="https://cordovaindustrial.com/">empresa de automatización industrial</a>. 
						</p>
						<p class="w-full">
							Mi objetivo es el mejorar de forma constante, aprender de todos mis errores y siempre resolver los desafíos complejos que requieren una solución complicada de entender. 
							Siempre me ha apasionado el aprendizaje continuo del desarrollo de Software.
						</p>
					</div>
				</div>
			</section>
		
			<section id="experience" class="flex flex-col items-center justify-center max-w-screen-xl !mx-2.5 md:!mx-20 2xl:!mx-auto">
				<div class="w-full h-fit flex flex-col justify-start !px-4 !py-8 md:!py-12 items-center">
					<h1 class="w-full z-[40] bg-[--titleRGBA] backdrop-blur-sm supports-[backdrop-filter]:bg-[--titleRGBA] transition-all sticky top-0 md:static text-start !py-5">MI <span class="text-gradient">FORMACIÓN</span></h1>
					<div class="w-full flex flex-col items-center justify-center gap-4">
						<Timeline timelineList={studies}/>
					</div>
				</div>
			</section>

			<section id="work" class="flex flex-col items-center justify-center max-w-screen-xl !mx-2.5 md:!mx-20 2xl:!mx-auto">
				<div class="w-full h-fit flex flex-col justify-start !px-4 !py-8 md:!py-12 items-center">
					<h1 class="w-full z-[40] bg-[--titleRGBA] backdrop-blur-sm supports-[backdrop-filter]:bg-[--titleRGBA] transition-all sticky top-0 md:static text-start !py-5">ÚLTIMOS <span class="text-gradient">TRABAJOS</span></h1>
					<div class="w-full flex flex-col items-center justify-center gap-8">
						<ProjectsPreview/>
						<LinkButton target="_self" extraClasses="!w-full lg:!w-fit" id="linkedinButton" href="/projects">
							Visualizar todos los proyectos 
							<span class="material-symbols-rounded">
								apps
							</span>
						</LinkButton>
					</div>
				</div>
			</section>

			<section id="contact" class="card5 max-w-screen-xl !mx-2.5 md:!mx-20 2xl:!mx-auto">
				<div class="w-full h-fit flex flex-col justify-start !px-4 !py-8 md:!py-12 items-center">
					<h1 class="w-full z-[40] bg-[--titleRGBA] backdrop-blur-sm supports-[backdrop-filter]:bg-[--titleRGBA] transition-all sticky top-0 md:static text-start !py-5 !mb-4">NO OLVIDES <span class="text-gradient">CONTACTARME</span></h1>
					<div class="w-full flex flex-col items-center justify-center gap-4 !mb-10 md:!mb-0">
						<p class="w-full text-lg">
							Si le gustó mi trabajo realizado y quiere discutir al respecto o tiene alguna oferta de trabajo que realizarme, no dude en contactarme!
						</p>
						<p class="w-full text-lg">
							Muchas gracias!
						</p>
						<p class="w-full font-semibold text-lg">
							Correo electrónico: 
						</p>
						<div class="w-full flex items-center justify-start">
							<a href="mailto:gera.g.dev@gmail.com" class="email text-lg">gera.g.dev@gmail.com</a>
						</div>
						<p class="w-full font-semibold text-lg">
							O también puedes revisar: 
						</p>
						<div class="w-full flex items-center justify-start flex-col lg:flex-row gap-2">
							<LinkButton target="_blank" extraClasses="w-full lg:w-auto" width="[16rem]" id="downloadCVButton" href="/assets/files/cv.pdf">
								Descargar CV 
								<DownloadIcon/>
							</LinkButton>
	
							<LinkButton target="_blank" extraClasses="w-full lg:w-auto" width="[16rem]" id="linkedinButton" href="https://www.linkedin.com/in/gerardo-gallegos-jr/">
								LinkedIn 
								<span class="material-symbols-rounded">
									send
								</span>
							</LinkButton>

							<LinkButton target="_blank" extraClasses="w-full lg:w-auto" width="[16rem]" id="linkedinButton" href="https://github.com/GeraG18">
								GitHub 
								<span class="material-symbols-rounded">
									send
								</span>
							</LinkButton>
						</div>
						<span class="!text-[--text-gray] !mt-8 text-lg">Gerardo Gallegos Jr {actualDate.getFullYear()}©</span>
						<p class="text-[--text-gray] text-lg text-center">Diseñado en Figma y codificado en VSCode por un servidor. Creado en el Framework Astro, Tailwind y CSS puro.
							Implementado en Vercel. Tipografias Exo y Code Mono.
						</p>
					</div>
				</div>
			</section>
		</div>
		<div class="items-center justify-center relative hidden md:flex flex-col h-[100vh] w-[8rem]">
			<ScrollNumber/>
			<EmailDecorator/>
		</div>
		<ScrollCTA/>
		<!-- <CursorDecorator/> -->
	</main>
</Layout>

<style>
	main {
		margin: 0;
		padding: 0;
		/* margin: auto;
		width: 800px;
		max-width: calc(100% - 2rem); */
		font-size: 20px;
		line-height: 1.6;
		display: flex;
		align-items: center;
		justify-content: center;
		/* background-color: aqua; */
		scroll-behavior: smooth;
	}

	ul .timeline {
		list-style-type: none;
		position: relative;
	}

	ul .timeline li {
		margin: 3rem 0px;
		padding-left: 20px;
	}

	.email {
        cursor: pointer;
        flex: none;
		height: 2rem;
        margin-bottom: 0.5rem;
        color: var(--text-gray);
        padding: 4px;
    }

    .email:hover {
        font-weight: 600;
        padding-bottom: 0.5rem;
        
        background: linear-gradient(45deg, var(--accent-darker) 0%, var(--accent) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        box-decoration-break: clone;
        -webkit-box-decoration-break: clone;
    }

	ul .timeline::before {
		content: " ";
		background: var(--text-gray);
		display: inline-block;
		position: absolute;
		left: 0px;
		width: 1px;
		top: 4px;
		height: 100%;
		z-index: 400;
	}

	ul .timeline li::after, ::before {
		box-sizing: border-box;
	}

	ul .timeline li::before {
		content: " ";
		background: var(--background);
		display: inline-block;
		position: absolute;
		border-radius: 50%;
		border: 2px solid var(--accent-text);
		left: -7px;
		width: 15px;
		height: 15px;
		margin-top: 3px;
		z-index: 400;
	}

	ul.timeline li a.float-right {
		text-decoration: underline;
		font-size: calc(var(--font-sm) + 0.9px);
	}

	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		scroll-behavior: smooth;
	}

	.container {
		width: 100%;
		height: 100vh;
		position: relative;
		/* scroll-snap-type: y mandatory; */
		overflow-y: scroll;
		scroll-behavior: smooth;
		/* background-color: rebeccapurple; */
	}

	.container::-webkit-scrollbar {
		display: none;
	}

	section {
		height: auto;
		/* min-height: 100vh; */
		display: flex;
		justify-content: center;
		align-items: center;
		scroll-snap-align: start;
		position: relative;
		/* border: 1px orange solid;*TODO: Remover despues*/ 
		/* padding-top: 3rem; */
		/* padding-bottom: 3rem; */
	}

	@media (min-width: 768px) { 
		section {
			min-height: 100vh;
		}
	}

	@media (min-width: 1024px) { 
		.container {
			scroll-snap-type: y mandatory;
		}

		section {
			height: 100vh;
			padding-bottom: 0px !important;
			padding-top: 0px !important;
		}
	}

	.image-mask {
		mask-image: linear-gradient(black 90%, transparent);
	}

	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}

	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
